@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 100%;
}

body {
    background: white;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 32rem;
    max-width: 100%;
    margin: 0;
    padding: 0.5rem;
}

#logo {
    width: 100%;
    height: auto;
    cursor: pointer; /* Make the logo do the pointer finger like a link does, since it is clickable */
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 1em;
}

a:link {
    color: black;
    text-decoration: underline;
    text-decoration-color: gold;
}

a:visited {
    color: black;
    text-decoration: underline;
    text-decoration-color: gold;
}

a:hover {
    color: tomato;
    text-decoration: underline;
    text-decoration-color: tomato;
}

a:active {
    color: tomato;
    text-decoration: underline;
    text-decoration-color: tomato;
}
