@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: tomato;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 32em;
    max-width: 100%;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}
